

.tournaments{
    color: white;
    z-index: 0;
    font-size: 20pt;
    width: 100%;
    margin: 0 0 8% 0;
}

.stats{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statsIcons{
    height: 50px;
    width: auto;
    filter: invert(1);
    margin-bottom: 8%;
    margin-top: 30%;
}