@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  @apply text-gs-400 bg-gs-200
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@layer components {
  .startImage {
    @apply flex flex-col justify-center items-center bg-cat h-screen bg-center bg-no-repeat bg-cover left-0 right-0
  }
  .statIcon{
    @apply w-full hidden xl:block h-full
  }
}


