header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 20px 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navList{
    color: white;
    list-style-type: none;  
    display: flex;
    margin-right: 2vw;
}

@media only screen and (max-width: 600px) {
    .navList {
      display: none;
    }
  }

.Logo{
    margin-left: 2vw;
}

.navList li{
    margin: 0 10px;
    font-size: 14pt;
}